<form role="form" style="margin-top:100px;">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
<h3 style="text-decoration:underline;">Create Menu</h3>
        </div>
        </div>
<div class="form-group">
    <div class="row">
     <div class="col-md-1"></div>
     <div class="col-md-3">
    <label for="name">Name:</label>
      </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
    <input type="name" class="form-control" id="name">
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
    <label for="text">Description:</label>
    </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
    <input type="text" class="form-control" id="text">
        </div>
        </div>
</div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
    <button type="submit" class="btn btn-info">Create</button>
        </div>
        </div>
</form>
<div style="height:260px;"></div>