<p>
    <strong><%= comment.user.name if comment.user.present?%> </strong>
    <%= comment.comment_body %>

</p>
<p>
    <%= time_ago_in_words(comment.created_at)%> ago
</p>

<p>
    <% if session[:user_id] == comment.user_id %>
        <% puts "Current user is the comment author, curent user: #{session[:user_id]} | comment author: #{comment.user_id}" %>
        <%= link_to 'Delete Comment', [comment.blog, comment], method: :delete, data: {confirm: "Are you sure"} %>
    <%end%>
</p>