<%= simple_form_for([@blog, @blog.comments.build],remote: true,:html => {novalidate: false}) do |f| %>
    <div id="commentsHolder">
        <div class="commentBodyContainer">
            <%= f.input :comment_body, required: true, placeholder: "Enter you Comment...", label: false%>
        </div>
    </div>
    <div class="postCommentButtonHolder">
        <%= f.button :submit, id: "postCommentSubmit", value: "Publish" %>
    </div>
<% end %>