<div>
<div class=" col-md-9">
    <b class="h1">Google Analytics</b>
</div>
<div class=" col-md-3">
    <button type="button" class="btn btn-blue-gradient">Start a Full Beyondforth</button>
</div>
</div>

<div class="padding1">
    <div class="col-md-9">
    <%= render "common/google_analytics" %>
        </div>
</div>