<hr/>
<div class="well well_manage padding_zero">
    <h2 class="row">Which area of marketing do you want to learn about?</h2>

    <div class="row">
        <div class="col-md-9 div_border_bottom">
            <div class="col-md-4">
                <h5><strong>Attracting visitors</strong></h5>
                <ul class="list-unstyled">
                    <li>
                        <div class="col-md-1"><i class="fa fa-rss fa-lg"></i></div>
                        <div class="col-md-11"><a href="#"> Blogging</a></div>
                    </li>
                    <li>
                        <div class="col-md-1"><i class="fa fa-search fa-lg"></i></div>
                        <div class="col-md-11"><a href="#">Website optimization</a></div>
                    </li>
                    <li>
                        <div class="col-md-1"><i class="fa fa-comments fa-lg"></i></div>
                        <div class="col-md-11"><a href="#">Social media</a></div>
                    </li>
                    <li>
                        <div class="col-md-1"><i class="fa fa-rss fa-lg"></i></div>
                        <div class="col-md-11"><a href="#"> Paid search</a></div>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5><strong>Converting visitors into leads</strong></h5>
                <ul class="list-unstyled">
                    <li>
                        <div class="col-md-1"><i class="fa fa-rss fa-lg"></i></div>
                        <div class="col-md-11"><a href="#"> Marketing offers</a></div>
                    </li>
                    <li>
                        <div class="col-md-1"><i class="fa fa-rss fa-lg"></i></div>
                        <div class="col-md-11"><a href="#">Landing pages</a></div>
                    </li>
                    <li>
                        <div class="col-md-1"><i class="fa fa-tag fa-lg"></i></div>
                        <div class="col-md-11"><a href="#">Calls to action (CTAs)</a></div>
                    </li>
                    <li>
                        <div class="col-md-1"><i class="fa fa-thumbs-up fa-lg"></i></div>
                        <div class="col-md-11"><a href="#">Thank you pages</a></div>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5><strong>Closing leads into customers</strong></h5>
                <ul class="list-unstyled">
                    <li>
                        <div class="col-md-1"><i class="fa fa-heart fa-lg"></i></div>
                        <div class="col-md-11"><a href="#">Lead nurturing</a></div>
                    </li>
                    <li>
                        <div class="col-md-1"><i class="fa fa-rss fa-lg"></i></div>
                        <div class="col-md-11"><a href="#"> Email marketing</a></div>
                    </li>
                    <li>
                        <div class="col-md-1"><i class="fa fa-rss fa-lg"></i></div>
                        <div class="col-md-11"><a href="#"> Lead intelligence</a></div>
                    </li>
                    <li>
                        <div class="col-md-1"><i class="fa fa-rss fa-lg"></i></div>
                        <div class="col-md-11"><a href="#"> Analyze & test</a></div>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-3">
            <h5><strong>Attend live webinors</strong></h5>

            <div class="alert padding_none">
                <p>Check out the upcoming
                    <a href="#" class="alert-link">#InboundLearning</a>
                    webinors and
                    register to attend the live. You'll
                    get to ask questions and participate
                    in the conversation.
                </p></div>
            <a href="#" class="btn btn-default btn-lg" role="button"><strong>See upcoming webinars</strong></a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="gap_padding"></div>
<div class="col-md-8 manage_h1 padding_none">
    <h1>#InboundLerning Webinors</h1>
</div>
<div class="col-md-4 ul_size set_img_rose">
    <div>
        <%= image_tag("rose.jpg") %>
        <!--<?php echo $this->Html->image("rose.jpg"); ?>-->
    </div>
    <div>
        <ul class="list-unstyled ul_size">
            <h5><strong>Need software help ?</strong></h5>
            <li>
                <div class="col-md-2">
                    <%= image_tag("certification_page1_97416_1.png") %>
                    <!--<?php echo $this->Html->image("certification_page1_97416_1.png"); ?>-->
                </div>
                <div class="col-md-10">
                    <a href="#">Find answer to your technical questions</a>
                </div>
                <div class="clearfix"></div>
            </li>
        </ul>
    </div>
    <div>
        <ul class="list-unstyled">
            <h5><strong>Post to the forums.</strong></h5>
            <li>
                <div class="col-md-2">
                    <%= image_tag("certification_page1_97416_2.png") %>
                    <!--<?php echo $this->Html->image("certification_page1_97416_2.png"); ?>-->
                </div>
                <div class="col-md-10">
                    <a href="#">Ask question to the HubSpot community</a>
                </div>
                <div class="clearfix"></div>
            </li>
        </ul>
    </div>
</div>
<div class="clearfix"></div>
<div class="gap_padding"></div>

