<h5 style="text-decoration: underline">My Wall</h5>
<div>
<%= link_to 'My Twitter Wall', social_media_twitter_index_path %><br>
</div>
<div>
<%= link_to 'Twitter User Notification', social_media_twitter_notification_path %>
</div>