<h1>linked in index page</h1>
<div class="container">
    <h2 class="col-md-offset-1">LinkedIn</h2>
    <div class="col-lg-4 well" >
        <%= render partial: 'linkedin_profile' %>
    </div>

    <div  class="col-lg-8">
        <div>
            <%= render 'linkedin_share_form' %>
        </div>
        <div style="padding-top:10px; ">
        </div>
        <div id="linkedin_home">
            <%= @profile %>
        </div>
    </div>
</div>