// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bgclor
{
  background: white;
  margin-top: 10px;
}
.margin_top
{
  margin-top: 10px;
}
.margin_bottom{
  margin-bottom: 20px;
}
#searchbox {
  width: 300px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("\searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

#pigment{
  background: #eee;
  margin-bottom: 10px;
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 0;
  position: relative;
  width:auto;
}

#posttype h4{
  text-align: center;
}
a{
  outline: none !important;
  text-decoration: none !important;
}

#posttype h4 a{
  background: #3589c3;
  position: relative;
  font-size: 17px;
  font-style: normal;
  line-height: 1;
  margin-bottom: 10px;
  padding: 6px 10px;
  text-shadow: none;
  color: #fff;
}
#category a {
  background: #3589c3;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 600;
  left: 8px;
  padding: 4px 10px;
  position: absolute;
  text-transform: capitalize;
  top: 8px;
  margin-left: 15px;
}

.brick h3 {
  background: #111;
  bottom: -10px;
  font-size: 14px;
  height: 44px;
  overflow: hidden;
  line-height: 22px;
  opacity: 0.7;
  padding: 0px;
  position: absolute;
  margin-right: 15px;
}

.brick h3 a, .brick h3 a:hover {
  color: #fff;
}

.post-title {
  font-size: 23px;
  color: #444;
  font-weight: 400;
  margin: 0px 0 0px;
  line-height: normal;
}
.post-title a {
  color: #444;
}

.post-title a:hover {
  color: #4183bf;
}


.title-secondary a, .title-secondary {
  color: #aaa;
  font-size: 13px;
  color: #909090;
  margin: 3px 0 7px;
}

.post-meat a {
  position: absolute;
  left: 8px;
  top: 8px;
  margin-left: 15px;
  color: #fff;
  padding: 4px 10px;
  font-weight: 600;
  background: #3589c3;
  font-size: 13px;
  text-transform: capitalize;
}

.border_bottem{
  border-bottom: 2px solid #eee;
}

.auth-panel {
  margin: 30px 0 15px;
  padding: 20px 15px;
  border: 1px solid #eee;
  background: #FAFAFA;
  overflow: hidden;
}
.auth-panel h4 {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}
.auth-panel p {
  font-size: 14px;
  line-height: 1.7;
}

.feet-icons {
  margin: 8px 0 4px;
}

.feet-icons a {
  display: inline-block;
  font-size: 18px;
  line-height: 2em;
  text-align: center;
  width: 42px;
}

a {
  color: #4183bf;
  outline: none;
  text-decoration: none;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

a.facebook-ico {
  color: #3B5998;
  border-bottom: 3px solid #3B5998;
}

a.twitter-ico {
  color: #19BFE5;
  border-bottom: 3px solid #19BFE5;
}

a.plus-ico {
  color: #D64136;
  border-bottom: 3px solid #D64136;
}

a.linked-ico {
  color: #007bb7;
  border-bottom: 3px solid #007bb7;
}
a.insta-ico {
  color: #bc2a8d;
  border-bottom: 3px solid #bc2a8d;
}


#comments {
  background: #fafafa;
  clear: both;
  margin-top: 20px;
  line-height: 1em;
  padding: 20px;
  border: 1px solid #e6e6e6;
}
.comments {
  clear: both;
  margin-top: 10px;
  margin-bottom: 0;
}
#comments h5 {
  border-left: none !important;
  border-top: none !important;
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e6e6e6;
  color: #999;
  display: inline;
  font-size: 14px;
  font-family: inherit;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 20px;
  margin-left: -20px;
  margin-top: -20px;
  padding: 10px 20px 10px 20px;
  position: absolute;
  text-transform: uppercase;
}

#comments .buffer {
  background: #FFFFFF;
  border-bottom-color: #E6E6E6;
  border-bottom-width: 1px;
  border-left-color: #E6E6E6;
  border-left-width: 1px;
  border-style: none none solid solid;
  color: #999999;
  display: inline;
  float: right;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 20px;
  margin-right: -20px;
  margin-top: -20px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.comments .comments-content {
  margin: 50px 0 10px 0px;
}
.comments .comments-content ol {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.avatar-image-container {
  float: left;
  max-height: 36px;
  overflow: hidden;
  width: 36px;
}

.avatar-image-container {
  padding: 4px;
  border-radius: 10%;
  background: #F9F9F9;
  width: 46px !important;
  height: 46px;
  max-width: 46px !important;
  max-height: 46px !important;
  overflow: hidden;
}

.comments .comment-block {
  margin-left: 48px;
  position: relative;
}

.comment-block {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0 0 0 60px;
  padding: 12px 16px;
}

.comments .comments-content .comment-header {
  overflow: hidden;
  width: 100%;
  margin: 0;
}

.comments .comments-content .comment-content {
  color: #666;
  font-size: 14px;
  line-height: 1.6em;
  margin: 0px;
  padding: 12px 0px;
  position: relative;
  transition: all 0.3s ease-out 0s;
  word-wrap: break-word;
}

.comments .comments-content .comment-content {
  text-align: justify;
}

.comments .comments-content .icon.blog-author {
  display: inline-block;
  height: 18px;
  margin: 0 0 -4px 6px;
  width: 18px;
}

#allCommentsFormHolder {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-bottom: 1px solid #eee;
}


#commentsHolder {
  padding: 18px 22px 10px 22px;
}

#comment_comment_body {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  color: #222;
  display: inline-block;
  font-size: 13px;
  padding: 5px 2px 2px 5px;
  vertical-align: top;
  width: 100%;
}

.postCommentButtonHolder {
  background-color: #f5f5f5;
  padding: 10px 10px 4px 10px;
  clear: both;
}

#postCommentSubmit {
  background-color: #4d90f0;
  border: 1px solid #3079ed;
  color: #fff;
  font-weight: bold;
  margin: 0 8px 6px 0;
}

.datetime i {
  color: #666 !important;
  font-size: 11px;
  font-weight: 500;
  opacity: 0.9;
  padding: 1px 6px;
  text-align: center;
  text-decoration: initial;
  text-transform: none;
  transition: all 0.3s ease-out 0s;
}

.user b {
  color: #666;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}



























//.blogs.index {
//  .new-blog {
//    border: none;
//    border-radius: 0;
//    border-bottom: 1px solid #181818;
//    height: 400px;
//    margin-bottom: 20px;
//    padding: 10px;
//    .btn-new {
//      background-color: #e8e8e8;
//      font-weight: 300;
//      border-radius: 0;
//      color: black;
//      &:hover {
//        background-color: #d8d8d8;
//      }
//    }
//  }
//  .card {
//    border: none;
//    border-radius: 0;
//    border-bottom: 1px solid #181818;
//    height: 400px;
//    margin-bottom: 20px;
//    .card-topper {
//      height: 200px;
//      width: 100%;
//      background-size: cover;
//      background-position: center;
//    }
//    .card-block {
//      padding: 10px;
//      .btn-read {
//        background-color: #e8e8e8;
//        font-weight: 300;
//        border-radius: 0;
//        color: black;
//        &:hover {
//          background-color: #d8d8d8;
//        }
//      }
//      .btn-edit {
//        background-color: #e8e8e8;
//        font-weight: 300;
//        border-radius: 0;
//        color: black;
//        &:hover {
//          background-color: #d8d8d8;
//        }
//      }
//      .card-title {
//        font-size: 1.3rem;
//        margin-bottom: 0.5rem;
//        a {
//          color: black;
//          text-decoration: none;
//        }
//      }
//      .published-date {
//        font-size: 0.8rem;
//        color: #787878;
//        font-weight: 300;
//        margin-top: 0.3rem;
//        margin-bottom: 0.3rem;
//      }
//      .card-text {
//        font-size: 0.9rem;
//      }
//    }
//  }
//}
//.blogs.edit , .blogs.new {
//  .token-input-list-facebook {
//    background-color: #f7f7f9;
//    width: 100%;
//    border: 1px solid rgba(0, 0, 0, 0.15);
//    border-radius: 0.25rem;
//  }
//  .card {
//    .card-block {
//      text-align: left;
//      background-color: #f7f7f9;
//    }
//    .card-title{
//      text-align: left;
//      margin-bottom: 0;
//      font-size: 20px;
//      background-color: #f7f7f9;
//    }
//    .list-group-item {
//      padding: 10px;
//      border-left: 0;
//      border-right: 0;
//      input[type='url'], input[type='text'] {
//        font-size: 14px;
//        background-color: #f7f7f9;
//      }
//      &:last-child {
//        background-color: #f7f7f9;
//      }
//    }
//  }
//}
//.blogs.show {
//  .card {
//    width: 100%;
//    height: auto;
//    .card-header {
//      text-align: left;
//      text-align: left;
//      margin-bottom: 0;
//      font-size: 20px;
//      background-color: #eceeef;
//    }
//    .card-block {
//      text-align: left;
//    }
//    .list-group-item {
//      text-align: left;
//      padding: 10px;
//      border-left: 0;
//      border-right: 0;
//      input[type='url'], input[type='text'] {
//        font-size: 14px;
//      }
//    }
//  }
//}
//@media screen and (min-width:34em) {
//  .blogs.index .card {
//    height: 440px;
//  }
//}

/*Medium. Above 48em (768px) */
//@media screen and (min-width: 48em) {
//  .blogs.index .card {
//    height: 420px;
//  }
//}

/*Extra large. Above 75em (1200px) */
//@media screen and (min-width: 75em) {
//  .blogs.index .card {
//    height: 415px;
//  }
//}