body {
    /*override body*/
    /*width: 90%;*/
    margin: 0 auto;
    background: #F8F8F8;
    padding-top: 50px;
    border: 1px solid #269abc;
}

div.gap_padding {
    /*to give the gape between tags*/
    padding-top: 18px;
    padding-bottom: 19px;
}

hr.horizontal_line {
    padding-bottom: 20px;
}

/*header start*/
.logo_image {
    /*fix the size of logo on left side on header*/
    width: auto;
    height: 50px;
}

.id_img {
    /*to give the correct size of email id image*/
    width: 60px;
    height: auto;
    margin-top: 4px;
}

/*header end*/

/*footer start*/
div.footer {
    /*to give the by default color to footer*/
    background: #495B67;
}

div.footer > div > ul > li {
    /*to give the proper padding between li*/
    padding-top: 7px;
    padding-bottom: 7px;
}

div.footer > div > ul > li > a:hover {
    /*to give the color of link when cursor will go up on link*/
    color: #BBBBBB;
    text-decoration: none;
}

div.footer > div > ul > li > a {
    /*to give the by default color of link when page will load*/
    color: #f5f5f5;
}

div.footer > div > h4 {
    /*to give the proper color and padding between heading (About, Landline, Software, Jobs, ..*/
    color: #BBBBBB;
    padding-left: 23px;
    padding-bottom: 10px;
    padding-top: 10px;
}

div.footer > div > ul > li > address {
    /*to give the color of address*/
    color: #BBBBBB;
}

div.footer > div > ul > li > h5 > strong {
    /*to give the by default color of h5 which are not link (above address)*/
    color: #ffffff;
}

/*footer end*/

/*tab start*/
.right_margin_adjust {
    /*right margin adjust according to snapshot*/
    margin-right: -30px;
}

.tab_logo {
    /*to fix the size of logo*/
    width: auto;
    height: 120px;
}

.verticalLine {
    /*to show verticals line in between logo and academy*/
    border-left: 1px solid #CCCCCC;
    height: 108px;
}

div.tab_padding > nav > div > div > nav > ul > li {
    /*to give padding between div and ul */
    margin-top: 15px;
}

div.tab_padding > nav > div > div > nav > ul > li > a {
    /*to give the by default colors of tab*/
    color: #919191;
    font-weight: bold;
    font-size: 15px;
}

div.tab_padding > nav > div > div > nav > ul > li > a:hover {
    /*to give the colors of tab when mous will go on tab*/
    color: #6f6f73;
    text-decoration: none;
}

div.hide_border > nav {
    /*to hide the default border of navbar-default class which i using for toggale on tab*/
    border: none;
}

.active_tab {
    color: #6f6f73;
}

/*tab end*/
/*certification_page_88312 start*/

div.border_bottom > div > a {
    /*to give the bottom border and text color and link color of link(view class)*/
    border-bottom: 5px solid #095E68;
    background-color: #BCE3E2;
    color: #878888;
    /*width: 220px;*/
}

div.border_bottom > div > a:hover {
    /*to give the bottom border and text color and link color of link(view class) when cursor will go on*/
    background-color: #c7f5f4;
    color: #878888;
    border-bottom: 5px solid #095E68;
}

div.well-background {
    /*well background color*/
    width: 70%;
    text-align: center;
    margin: 0 auto;
    background-color: #095E68;
    color: #FEFEFE;
    font-size: large;
}

div.right_image {
    /*create image by css property myself*/
    height: 90px;
    width: 190px;
    background-color: #414141;
    border-radius: 4px;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 50px;
    color: #f5f5f5;
    padding-top: 3px;
    padding-left: 10px;
    z-index: 50;
}

div.right_image1 {
    /*create image by css property myself*/
    width: 180px;
    height: 180px;
    border-radius: 100px;
    background-color: #ffffff;
    border: 1px solid #f5f5f5;
    margin-left: 200px;
    margin-top: -160px;
    padding: 4px;
    box-shadow: 2px 0px 12px 3px rgba(32, 37, 37, 0.35);
    z-index: -100;
}

div.right_image2 {
    /*create image by css property myself*/
    width: 170px;
    height: 170px;
    border-radius: 100px;
    background-color: #F88229;
    margin-left: auto;
    margin-right: auto;
}

img.cap_image {
    /*create image by css property myself*/
    margin-left: 35px;
    margin-top: 40px;
}

/*certification_page_88312 end*/

/*certification_page1_97416 start*/
div.div_border_bottom > div > h5 {
    /*to give the border of bottom h4 */
    border-bottom: 1px solid #BBBBBB;
    padding-bottom: 10px;
}

div.manage_h1 > h1 {
    /*to remove margin from h1 and from div , where #Inboundlearning Webinors written*/
    margin-top: 0px;
    height: 40px;
    width: 430px;
    background: #ffffff;
    font-weight: 100;
    font-family: sans-serif;
    color: #919191;
}

div.padding_none {
    /*to remove space in alert class property*/
    padding-left: 0px;
    padding-top: 0px;
}

div.icon > div > ul > li > a {
    /*to give space between image and link*/
    margin-left: 20px;
}

div.div_border_bottom > div > ul > li {
    /*to give padding between li*/
    padding-top: 3px;
    padding-bottom: 3px;
}

div.well_manage {
    /*to give the background of well according to image*/
    background: white;
    border: none;
    border-radius: 0px;
}

div.well_manage > h1 {
    /*to remove by default margine from h1*/
    margin-left: 0px;
}

div.well_manage > div > div > a {
    /*to give the color of the link button (see upcoming webinors)*/
    background: #E8E8E8;
}

div.well_manage > div > div > div > ul > li > div > a:hover, div > div > p > a:hover {
    /*to remove underline and give color on cursor over*/
    text-decoration: none;
    color: #0767a8;
}
div.well_manage > div > div > div > ul > li > div {
    margin-bottom: 5px;
}
div.ul_size > div > ul {
    /*to fix size and give the background color to ul*/
    margin-left: 66px;
    background: white;
    width: 190px;
}

div.ul_size > div > ul > li > div {
    /*to set the image and link according to snapshot.*/
    padding-left: 4px;
}

div.ul_size > div > ul > li > div > a:hover {
    /*to set the image and link according to snapshot.*/
    text-decoration: none;
    color: #0767a8;
}
div.padding_zero > div > div {  /*to remove the padding from first div tag*/
    padding-left: 0px;
}
div.padding_zero > div > div > div { /*to remove the padding from second div tag*/
     padding-left: 0px;
 }
div.padding_zero > div > div > div > ul > li > div { /*to remove the padding from third div tag*/
    padding-left: 0px;
}

div.set_img_rose > div > img { /*to set image(rose) at right side*/
    margin-left: 67px;
}
div.set_img_rose > div { /*to set image(rose) at right side*/
    margin-left: 14px;
}
/*certification_page1_97416 end*/
/* Competitors_36175*/

nav.competitors_part1 {
    /*to remove the border of nav tag*/
    border: none;
}
nav.competitors_part1 > div {
    /*to give the background color and padding according to snapshot*/
    background: #E3E3E3;
    border-radius: 5px;
    padding-top: 9px;
    padding-bottom: 9px;
}
nav.competitors_part1 > div > div {
    /*to remove the by default padding of tag*/
    padding-left: 0px;
}
nav.competitors_part1 > div > div > ul > li{
    /*to remove the by default padding of tag*/
    padding-left: 0px;
}
nav.competitors_part1 > div > div > ul > li > div{
    /*to remove the by default padding of tag*/
    padding-left: 0px;
}
div.competitors_part2 {
    border: 1px solid #DFDFDF;
    border-radius: 3px;
}
div.competitors_part2 > div > a {
    width: 270px;
    height: 30px;
}
div.competitors_part2_div2 {
    margin: 5px;
}
th.table_manage_th1 {
    width: 200px;
    background: #F4F4F4;
}
th.table_manage_th2 {
    width: 30px;
    background: #F4F4F4;
}
div.table_div {
    /*to give the look and color of div tag and table*/
    border:1px solid #DFDFDF;
    background: #ffffff;
}
table.table_div1 > tbody > tr:hover > td, thead > tr:hover > th {
    background-color: #e2e6eb;
}
button.gradiant {
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top,  #7abcff 31%, #60abf8 53%, #4096ee 76%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(31%,#7abcff), color-stop(53%,#60abf8), color-stop(76%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7abcff 31%,#60abf8 53%,#4096ee 76%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7abcff 31%,#60abf8 53%,#4096ee 76%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7abcff 31%,#60abf8 53%,#4096ee 76%); /* IE10+ */
    background: linear-gradient(to bottom,  #7abcff 31%,#60abf8 53%,#4096ee 76%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */

}
button.gradiant:hover {
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top,  #7abcff 33%, #60abf8 49%, #4096ee 71%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(33%,#7abcff), color-stop(49%,#60abf8), color-stop(71%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7abcff 33%,#60abf8 49%,#4096ee 71%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7abcff 33%,#60abf8 49%,#4096ee 71%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7abcff 33%,#60abf8 49%,#4096ee 71%); /* IE10+ */
    background: linear-gradient(to bottom,  #7abcff 33%,#60abf8 49%,#4096ee 71%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */

}
/* end Competitors_36175*/

/*  ved custom css code     */



body.login {
    margin: 0 auto;
    background: #495B67;
    padding: 0;
}
div.login-box {
    width: 30%;
    height:0px;
    margin-top:40px;
}
div.well_color{
    background: #FFFFFF;
}
div.well_color1

{
    background:#EEEEEE ;
}

.well_img
{
    width: 150px;
    height: 100px;
    padding-top:5px;
    padding-bottom: 10px;

}
.logo_color
{
    color: #CCCCCC;
}
.media_body
{
    color: #116DD9;
}


/*
.index
{
    background: url("../img/Untitled.png");
    background-repeat: repeat;
}
*/
div#home-top-tab-1 ul li a {

    color: #ffffff;
}
div#home-top-tab-2 ul li a{
    color: #a9a9a9;

    padding-top: 40px;

}

.header {

    height: 50px;
    background-color: #3B3B3B;
    color: #a9a9a9;
}

.main_content {
    font-weight: bold;
    height: auto;
    margin: 0 auto;
    padding: 0;

}

.logo_image {


    width: 50px;
    height: 50px;

}

div.tab {
    margin-bottom: 20px;
    margin-top: 10px;
    border-bottom: none;
}

.tab_text {
    color: #a9a9a9;
}

.middle_img {

    float: left;
    width: 155px;
    height: 105px;
    /* padding-top: 20px;
     padding-bottom: 30px;
 */
}

/*footer start*/
div.footer {
    background: #495B67;
}

div.padding > div > ul > li {
    padding: 4px;
}

div.footer > div > ul > li {
    padding-top: 7px;
    padding-bottom: 7px;
}

div.footer > div > ul > li > a:hover {
    color: #BBBBBB;
    text-decoration: none;
}

div.footer > div > ul > li > a {
    color: #f5f5f5;
}

div.footer > div > h4 {
    color: #BBBBBB;
    padding-left: 24px;
    padding-bottom: 10px;
    padding-top: 10px;
}

div.footer > div > ul > li > address {
    color: #BBBBBB;
}

/*footer end*/
.view_page {

    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    line-height: 30px;
    color: #ffffff;
    height: auto;
    background-color: #52C0EC;
    background: url("blue.png");
}

button.button_color.btn-primary {
    margin-left: 70px;
    background-color: #42A9D7;
}

button.button_color1.btn-primary {
    margin-left: 20px;
    background-color: #42A9D7;
}

button.button_color.btn-success {

    background-color: #BDD02A;

}
button.button_color.form-control{
    background-color: #BCE3E2
}

.icon_circle {
    margin-top: -40px;
}

.label_inner6 {

    /*height: 630px;
    margin-left: 30px;*/

    background-color: #FFFFFF;
}


.logo_image_inner {
    /*font-size: 10px;*/
    font-family: monospace;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    /*float: left;
    width: 70px;
    height: 60px;*/
    line-height: 30px;
}



div.padding-heading  {
    padding: 4px 0 30px 0;
}
.button_border
{
    border-bottom:#095E68;
}
.data_align
{
    line-height: 30px;
    font-family: arial;
    padding-top: 20px;
}
.li_item
{
    margin-left: 30px;
}
.logo_align
{
    padding-left:190px;
}
.sign_up
{
    padding-bottom: 60px;

}

 /*himanshu custom css*/

nav.header-bar {
    background:#2E2E2E;
    color: #E6E6E6;
    border: none;
    border-radius: 0px;
}

ul#header-nav > li.active > a{
    background: #E6E6E6;
    color: #000000;
}

ul#header-nav > li > a {
    color: #ffffff;
}


ul#header-nav > li > a:hover {
    background: #E6E6E6;
    color: #000;
}
li#header-mail > a:hover, li#header-mail.open > a:hover, li#header-mail.open > a:focus  {
    background:none;
    color:#FFFFFF;
}

.image  {
    width:50px;
    height:50px;
}
.mgr_image{
    width: 70px;
    height:60px;
}
.id_image  {
    margin-top: 5px;
    width:40px;
    height:40px;
}
.part_margin{
    margin-top:30px;
    margin-bottom:70px;
}

.padding
{
    padding-top:15px;
    padding-bottom:15px;
    padding-right:10px;
    padding-left:10px;
}
.padding_panel{
    padding-right:0px;
    padding-bottom:0px;

}
.padding_margin{
    padding-bottom: 13px;
    padding-top: 13px;
}
.padding_left_side{
    padding-left: 40px;
}

.padding0{
    padding-left:10px;
    padding-right:10px;
}

.padding1{
    padding-top:15px;
    padding-bottom:15px;
    padding-left:50px;
}

.padding2{
    padding-top:50px;
    padding-bottom:50px;
    padding-left:10px;
}
.padding3{
    padding-top:0px;

}

.head_size{
    font-size: 20px;

}
.h1{
    font-size: 30px;
}

.green {
    color: #008000;
    padding-right: 8px;
}
.red{
    color: #ff0000;
}
.gray {
    color:#C8C3C7;
}
.dark_sky_blue{
    color:#095E68;

}
.tab_color{
    #background: #fcfff4; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcfff4 15%, #b3bead 59%, #b3bead 64%, #b3bead 72%, #b3bead 74%, #b3bead 74%, #b3bead 83%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(15%,#fcfff4), color-stop(59%,#b3bead), color-stop(64%,#b3bead), color-stop(72%,#b3bead), color-stop(74%,#b3bead), color-stop(74%,#b3bead), color-stop(83%,#b3bead)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fcfff4 15%,#b3bead 59%,#b3bead 64%,#b3bead 72%,#b3bead 74%,#b3bead 74%,#b3bead 83%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fcfff4 15%,#b3bead 59%,#b3bead 64%,#b3bead 72%,#b3bead 74%,#b3bead 74%,#b3bead 83%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fcfff4 15%,#b3bead 59%,#b3bead 64%,#b3bead 72%,#b3bead 74%,#b3bead 74%,#b3bead 83%); /* IE10+ */
    background: linear-gradient(to bottom,  #fcfff4 15%,#b3bead 59%,#b3bead 64%,#b3bead 72%,#b3bead 74%,#b3bead 74%,#b3bead 83%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */

}


.blue{
    color:#79A5E1;
}
.well_color{
    background:#BCE3E2;
    border-color: #59C6D0;
}
.dark_red{
    color: #9D261D;
}

button.btn-blue-gradient{
    color:#FFFFFF;
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #7AC2F2),
            color-stop(1, #6DA0ED),
            color-stop(1, #407EE1),
            color-stop(1, #6AAFF5)
    );
    background-image: -o-linear-gradient(bottom, #7AC2F2 0%, #6DA0ED 100%, #407EE1 100%, #6AAFF5 100%);
    background-image: -moz-linear-gradient(bottom, #7AC2F2 0%, #6DA0ED 100%, #407EE1 100%, #6AAFF5 100%);
    background-image: -webkit-linear-gradient(bottom, #7AC2F2 0%, #6DA0ED 100%, #407EE1 100%, #6AAFF5 100%);
    background-image: -ms-linear-gradient(bottom, #7AC2F2 0%, #6DA0ED 100%, #407EE1 100%, #6AAFF5 100%);
    background-image: linear-gradient(to bottom, #7AC2F2 0%, #6DA0ED 100%, #407EE1 100%, #6AAFF5 100%);
}

button.btn-blue-gradient:active, button.btn-blue-gradient:focus, button.btn-blue-gradient:hover {
    color: #FFFFFF;
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #6EB4EE),
            color-stop(1, #416BE0)
    );
    background-image: -o-linear-gradient(bottom, #6EB4EE 0%, #416BE0 100%);
    background-image: -moz-linear-gradient(bottom, #6EB4EE 0%, #416BE0 100%);
    background-image: -webkit-linear-gradient(bottom, #6EB4EE 0%, #416BE0 100%);
    background-image: -ms-linear-gradient(bottom, #6EB4EE 0%, #416BE0 100%);
    background-image: linear-gradient(to bottom, #6EB4EE 0%, #416BE0 100%);
}
div.equal_height{
    height: 400px;
}
button.btn-gray{
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 68%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(68%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 68%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 68%,#cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 68%,#cccccc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 68%,#cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

}
button.btn-gray:hover{
    background:#808080;
}
.tab_head{
    background: #dbdbdb; /* Old browsers */
    background: -moz-linear-gradient(top,  #dbdbdb -1%, #e2e2e2 0%, #fefefe 0%, #fefefe 15%, #dbdbdb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-1%,#dbdbdb), color-stop(0%,#e2e2e2), color-stop(0%,#fefefe), color-stop(15%,#fefefe), color-stop(100%,#dbdbdb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #dbdbdb -1%,#e2e2e2 0%,#fefefe 0%,#fefefe 15%,#dbdbdb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #dbdbdb -1%,#e2e2e2 0%,#fefefe 0%,#fefefe 15%,#dbdbdb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #dbdbdb -1%,#e2e2e2 0%,#fefefe 0%,#fefefe 15%,#dbdbdb 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #dbdbdb -1%,#e2e2e2 0%,#fefefe 0%,#fefefe 15%,#dbdbdb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
}

.a:hover,a:link{
    text-decoration: none;
}

.modify-form-control{
    width: 50%;
}

@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);



.animate {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/*=============== Home-team ===============*/

.home-doctors {
    text-align: center;
    padding: 70px 0 80px;
    background: #f0f5f6;
}

.home-doctors h2 {
    font-weight: normal;
}

.home-doctors .common-doctor {
    background-color: #fff;
}
.home-doctors .common-doctor figure {
    overflow: hidden;
    width: 100%;
    height: 196px;
}

.home-doctors img {
    width: 100%;
    height: auto;
    margin-top: -6em;
}

.home-doctors .common-doctor h5 {
    margin: 0 0 7px;
    font-size: 18px;
    font-weight: 700;
    color: #3a3c41;
}
.home-doctors .common-doctor .for-border {
    margin-bottom: 20px;
}
.home-doctors .common-doctor .text-content {
    padding: 19px 14px 13px;
}
.home-doctors.doctors-var-two {
    text-align: left;
    background-color: #fff;
}
.home-doctors.doctors-var-two .slogan-section {
    text-align: left;
}
.home-doctors.doctors-var-two .common-doctor {
    background-color: transparent;
}
.home-doctors.doctors-var-two .common-doctor .for-border {
    display: none;
}
.home-doctors.doctors-var-two .common-doctor .text-content {
    padding: 20px 0 20px;
}
.home-doctors.doctors-var-two .text-center {
    text-align: left;
}

.slogan-section {
    margin-bottom: 50px;
    text-align: center;
}

.home-doctors .common-doctor .for-border {
    margin-bottom: 20px;
}

.for-border {
    height: 11px;
    width: 100%;
    background: transparent url(http://omarhabash.com/nova/wp-content/uploads/2014/08/feature-border.png) center center no-repeat;
    border: none;
}

.home-doctors .common-doctor h5 small {
    color: #008fd5;
    font-weight: bold;
    font-size: 0.8em;
    font-style: italic;
}

.home-doctors .common-doctor ul{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -28px;
    text-align: center;
    margin-top: 10em;
    opacity: 0;
    z-index: 1;
}

.home-doctors .common-doctor li a {
    background: #008fd5;
    color: white;
    padding: 0.75em;
    border: 5px solid rgba(255, 255, 255, 0.33);
}


.doc-img{
    /* Webkit for Chrome and Safari */
    -webkit-transform: scale(1, 1); // This is the scale for the normal size of the image.
-webkit-transition-duration: 500ms;
    -webkit-transition-timing-function: ease-out;

    /* Webkit for Mozila Firefox */
    -moz-transform: scale(1, 1);
    -moz-transition-duration: 500ms;
    -moz-transition-timing-function: ease-out;

    /* Webkit for IE( Version: 11, 10 ) */
    -ms-transform: scale(1, 1);
    -ms-transition-duration: 500ms;
    -ms-transition-timing-function: ease-out;
}

.doc-item:hover .doc-img{
    /* Webkit for Chrome and Safari */
    -webkit-transform: scale(1.2, 1.2); // This is the enlarged size scale of the image.
-webkit-transition-duration: 500ms;
    -webkit-transition-timing-function: ease-out;

    /* Webkit for Mozila Firefox */
    -moz-transform: scale(1.2, 1.2);
    -moz-transition-duration: 500ms;
    -moz-transition-timing-function: ease-out;

    /* Webkit for IE( Version: 11, 10 ) */
    -ms-transform: scale(1.20, 1.20);
    -ms-transition-duration: 500ms;
    -ms-transition-timing-function: ease-out;

    opacity: 0.7;
}

.doc-item:hover .social-lists{
    margin-top: -2em;
    opacity: 1;
}


/*=============== //Home-team ===============*/
#r {
    background-color: linen;
}

#r1{
    background-color: lightgoldenrodyellow;
}

#r2{
    background-color: lightblue;
}

#r3{
    background-color: lightgray;
}

.row{
    word-wrap: break-word;
}

#font{
    font-size: 17px;
}
