<footer>
    <div class="footer " id="footer_link">
        <div class="col-xs-3">
            <h4>About</h4>
            <ul class="col-xs-offset-1 list-unstyled">
                <li>
                    <a href="#">Our Story</a>
                </li>
                <li>
                    <a href="#">Executive Team</a>
                </li>
                <li>
                    <a href="#">Press Room</a>
                </li>
                <li>
                    <a href="#">Partners</a>
                </li>
            </ul>
            <h4>Learn Inbound</h4>
            <ul class="list-unstyled col-xs-offset-1">
                <li>
                    <a href="#">Marketing Resources</a>
                </li>
                <li>
                    <a href="#">Inbound Marketing</a>
                </li>
                <li>
                    <a href="#">HubSpot Academy</a>
                </li>
                <li>
                    <a href="#">INBOUND Conference</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-3">
            <h4>Software</h4>
            <ul class="list-unstyled col-xs-offset-1">
                <li>
                    <a href="#">Email</a>
                </li>
                <li>
                    <a href="#">Blogging</a>
                </li>
                <li>
                    <a href="#">Landing Pages</a>
                </li>
                <li>
                    <a href="#">Calls-to-action</a>
                </li>
                <li>
                    <a href="#">SEO</a>
                </li>
                <li>
                    <a href="#">Lead Management</a>
                </li>
                <li>
                    <a href="#">Marketing Automation</a>
                </li>
                <li>
                    <a href="#">Marketing Analysis</a>
                </li>
                <li>
                    <a href="#">Market Place</a>
                </li>
                <li>
                    <a href="#">Developers Home</a>
                </li>
            </ul>
        </div>

        <div class="col-xs-3">
            <h4>Support</h4>
            <ul class="list-unstyled col-xs-offset-1">
                <li>
                    <a href="#">Open a support ticket</a>
                </li>
                <li>
                    <a href="#">Submit a feature request</a>
                </li>
                <li>
                    <a href="#">Join a local user group</a>
                </li>
                <li>
                    <a href="#">Help and support home</a>
                </li>
            </ul>
            <h4>Jobs</h4>
            <ul class="list-unstyled col-xs-offset-1">
                <li>
                    <a href="#">Cambridge</a>
                </li>
                <li>
                    <a href="#">International</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-3">
            <h4>Contact</h4>
            <ul class="list-unstyled col-xs-offset-1">
                <li>
                    <h5><strong>HubSpot, Inc.</strong></h5>
                </li>
                <li>
                    <address>25 First Street, 2nd Floor
                        Cambridge, MA 02141
                        Call us: 1-888-HubSpot
                        (888-482-7768)
                    </address>
                </li>
            </ul>
            <ul class="list-unstyled col-xs-offset-1">
                <li>
                    <h5><strong>European Headquarters</strong></h5>
                </li>
                <li>
                    <address>2nd Floor, 30 North Wall Quay
                        Dublin 1, Ireland
                        Call us: +35315187500
                        (888-482-7768)
                    </address>
                </li>
            </ul>
            <ul class="list-unstyled col-xs-offset-1">
                <li>
                    <a href="#">UK website</a>
                </li>
                <li>
                    <a href="#">EU website</a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</footer>
