<div>
    <div>
        <b class="h1">Recent Reports Events </b>
        <b class="gray">Since: 5/11/2013</b>
    </div>
    <div class="padding2">
        <b class="padding2">soarlogic.com</b> <a href="#">View All events</a></br>

        <span class=" padding1 green glyphicon glyphicon-ok"></span><a class="padding0" href="#">Soarlogic.com recently added a mobile
        domain</a> <br/>
        <span class=" padding1 red glyphicon glyphicon-arrow-down"></span><a class="padding0" href="#">There are 55days, 7hours,4minutes
        between posts on
        Twitter, an increase of 5hours, 43minutes.</a><br/>
        <span class=" padding1 green glyphicon glyphicon-ok"></span><a class="padding0" href="#">The Blog recently added social
        subscriptions</a>
    </div>
</div>